<style>
.modal-body{
position: relative;
padding: 15px;
height: 300px !important;
overflow: scroll;
overflow-x: hidden;
}
</style>
<div align="center">
  <button class="button-default" onclick={{action "mostrar_ventana" record}}>Seleccione</button>
  {{#bs-modal open=mdlComponent onHidden=(action (mut mdlComponent) false) as |modal|}}
    {{#modal.header}}
      <h2 class="modal-title">
        {{frmTitleActualizar}}
      </h2>
    {{/modal.header}}
    {{#modal.body}}
    cualquier chimbada
    <div class="form-group">
      <label>Estado:</label>
      <select id="chg_estdo" class="form-control" {{action 'cambioEstado' on='change'}}>
          <option  value='ACTIVO'  selected={{ifcond model.estdo "ACTIVO"}} >ACTIVO</option>
          <option  value='INACTIVO' selected={{ifcond model.estdo "INACTIVO"}} >INACTIVO</option>
      </select>
    </div>
    {{/modal.body}}
    {{#modal.footer}}
      <div style="text-align:center">
        <button class="button-default" onclick={{action "guardar"}} >Guardar</button>
      </div>
    {{/modal.footer}}
  {{/bs-modal}}
</div>
