<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 padding-top">
			  <div class="form">
				  <form class="form" role="form" id = "form_perfiles_sucursales">
              <div class="form-group">
                  <label for="UnddsNgcio">Unidad De Negocio:</label>
                      {{cntrl-select
                        externalModel=model
                        externalSelect="id_undds_ngcio"
                        name=id_undds_ngcio
                        id=UnddsNgcio.id
                        tagid="UnddsNgcio"
                        model=UnddsNgcio
                        text="Seleccione Unidad De Negocio ..."   valor_selecionado=model.id_undds_ngcio
                      }}
                  <div class="error_text"><strong>{{validationErrors.id_undds_ngcio}}</strong></div>
              </div>

              <div class="form-group">
                  <label>Sucursal:</label>
                  {{cntrl-select
                    externalModel=model
                    externalSelect="id_scrsl"
                    name=id_scrsl
                    model=scrsl
                    tagid="Scrsl"
                    tagparent="UnddsNgcio"
                    text="Seleccione Sucursal ..." valor_selecionado=model.id_scrsl
                    parent=model.id_undds_ngcio
                    url="/api/AdministracionTablasMaestras/Sucursales"
                    cmporlcn="id_undd_ngco"
                    data=(concat '{"id_undd_ngco":"' model.id_undds_ngcio '"}')
                  }}
                  <div class="error_text"><strong>{{validationErrors.id_scrsl}}</strong></div>
              </div>

              <div class="form-group">
                  <label>Perfil :</label>
                    {{cntrl-select
                      externalModel=model
                      externalSelect="id_prfl_une"
                      name=id_prfl_une
                      model=Prfl
                      tagid="Prfl"
                      tagparent="UnddsNgcio"
                      text="Seleccione Perfil ..." valor_selecionado=model.id_prfl_une
                      parent=model.id_undds_ngcio
                      cmporlcn="id_undd_ngco"
                      url="/api/AdministracionTablasMaestras/Perfiles"
                      data=(concat '{"id_undd_ngco":"' model.id_undds_ngcio '"}')
                    }}
                  <div class="error_text"><strong>{{validationErrors.id_prfl_une}}</strong></div>
             </div>

             <div class="form-group">
                   <label>Formas De Pago :</label>
                   {{cntrl-select
                     externalModel=model
                     externalSelect="id_frma_pgo_dfcto_une"
                     name=id_frma_pgo
                     model=frmsPgo
                     tagid="frmsPgo"
                     tagparent="UnddsNgcio"
                     text="Seleccione Formas De Pago ..." valor_selecionado=model.id_frma_pgo_dfcto_une
                     parent=model.id_undds_ngcio
                     cmporlcn="id_undd_ngco"
                     url="/api/AdministracionTablasMaestras/FormasPago"
                     data=(concat '{"id_undd_ngco":"' model.id_undds_ngcio '"}')
                   }}
               </div>

               <div class="form-group">
                  <label>Canal De Recaudo :</label>
                  {{cntrl-select
                    externalModel=model
                    externalSelect="id_cnl_rcdo_dfcto_une"
                    name=id_cnl_rcdo
                    model=Cnlrcdo
                    tagid="Cnlrcdo"
                    tagparent="UnddsNgcio"
                    text="Seleccione Canal De Recaudo ..."  valor_selecionado=model.id_cnl_rcdo_dfcto_une
                    parent=model.id_undds_ngcio
                    cmporlcn="id_undd_ngco"
                    url="/api/AdministracionTablasMaestras/CanalRecaudo"
                    data=(concat '{"id_undd_ngco":"' model.id_undds_ngcio '"}')
                  }}
              </div>
              {{model.mrca_scrsl_dfcto}}
             <div class="form-group">
               <label>Sucursal Defecto :</label>
               <select id="mrca_scrsl_dfcto" class="form-control" {{action 'cambioEstado' "mrca_scrsl_dfcto"  on='change'}}>
                 <option  value='ACTIVO'   selected={{ifcond model.mrca_scrsl_dfcto "ACTIVO"}} >ACTIVO</option>
                 <option  value='INACTIVO' selected={{ifcond model.mrca_scrsl_dfcto "INACTIVO"}} >INACTIVO</option>
               </select>
             </div>

             <div class="form-group">
               <label>Control De Comprobantes :</label>
               <input
                 id="cntrl_cmprbnte"
                 type="checkbox"
                 name="cntrl_cmprbnte"
                 checked={{model.cntrl_cmprbnte}}
                 {{action 'checkClick' "cntrl_cmprbnte" model.cntrl_cmprbnte on="change"}}
               />
             </div>

             <div class="form-group">
               <label>Control De Caja Menor :</label>
               <input
                 id="cntrl_cja_mnr"
                 type="checkbox"
                 name="cntrl_cja_mnr"
                 checked={{model.cntrl_cja_mnr}}
                 {{action 'checkClick' "cntrl_cja_mnr" model.cntrl_cja_mnr on="change"}}
               />
             </div>

             <div class="form-group">
               <label>Control De Autorizaciones :</label>
               <input
                 id="cntrl_atrzcn"
                 type="checkbox"
                 name="cntrl_atrzcn"
                 checked={{model.cntrl_atrzcn}}
                 {{action 'checkClick' "cntrl_atrzcn" model.cntrl_atrzcn on="change"}}
               />
             </div>

             <div class="form-group">
               <label>Mostrar Seguimientos a Traslados :</label>
               <input
                 id="gdgt_sgmnto_trsldo"
                 type="checkbox"
                 name="gdgt_sgmnto_trsldo"
                 checked={{model.gdgt_sgmnto_trsldo}}
                 {{action 'checkClick' "gdgt_sgmnto_trsldo" model.gdgt_sgmnto_trsldo on="change"}}
               />
             </div>

             <div class="form-group">
               <label>Monto Autorizado Reembolso :</label>
               {{input class="form-control"  name="mnto_rmblso_pac" value=model.mnto_rmblso_pac}}
             </div>
                {{model.estdo}}
             <div  class="form-group">
               <label>Estado:</label>
                <select id="estdo" class="form-control" {{action 'cambioEstado' "estdo"  on='change'}}>
                  <option  value='ACTIVO'   selected={{ifcond model.estdo "ACTIVO"}} >ACTIVO</option>
                  <option  value='INACTIVO' selected={{ifcond model.estdo "INACTIVO"}} >INACTIVO</option>
                </select>
             </div>
             {{model.id_lgn_prfl_scrsl}}
            <div class="btn-group">
              <div class="alert alert-success" role="alert"  id="success" hidden></div>
              <div class="alert alert-danger" role="alert" id="danger" hidden></div>
              {{#if model.id_lgn_prfl_scrsl}}
                    {{input type="hidden" name="id" value=model.id_lgn_prfl_scrsl}}
  						      <button type="submit" class="btn btn-info" {{action 'update' on='click' npro="update" }}>Actualizar</button>
              {{else}}
                    <button type="submit" class="btn btn-info" {{action 'save' on='click' }}>Crear</button>
              {{/if}}
  					</div>

           </form>
        </div>
      </div>
    </div>
</div>
