
<div class="container">
   <div class="row">
     <div class="col-xs-12 col-sm-6 padding-top">
       <div class="form">
         <form>
           <div class="form-group">
             <label>Codigo:</label>
             {{input class="form-control" name="cdgo" value = model.cdgo}}
             <div class="error_text">{{validationErrors.cdgo}}</div>
           </div>
           <div class="form-group">
             <label>Descripcion:</label>
             {{input class="form-control"  name="dscrpcn" value = model.dscrpcn}}
             <div class="error_text">{{validationErrors.dscrpcn}}</div>
           </div>
           {{#if model.id}}
           <div class="form-group">
             <label>Estado:</label>
<<<<<<< HEAD
             <select id="chg_estdo" {{action 'cambioEstado' on='change'}}>
                 <option  value='ACTIVO'  selected={{ifcond model.estdo "ACTIVO"}} >ACTIVO</option>
                 <option  value='INACTIVO' selected={{ifcond model.estdo "INACTIVO"}} >INACTIVO</option>
=======
             <select id="chg_estdo" class="form-control" {{action 'cambioEstado' on='change'}}>
             	   <option  value='ACTIVO'  selected={{ifcond model.estdo "ACTIVO"}} >ACTIVO</option>
              	 <option  value='INACTIVO' selected={{ifcond model.estdo "INACTIVO"}} >INACTIVO</option>
>>>>>>> e7d05df2c3e658018e9de4d056ff35a286c1710c
             </select>
           </div>
           {{/if}}
           <div class="btn-group">
             <div class="alert alert-success" role="alert"  id="success" hidden></div>
             <div class="alert alert-danger" role="alert" id="danger" hidden></div>
             {{#if model.id}}
                   {{input type="hidden" name="id" value=model.id}}
<<<<<<< HEAD
                   <button type="submit" class="btn btn-info" {{action 'update' on='click' }}>Actualizar</button>
             {{else}}
                   <button type="submit" class="btn btn-info" {{action 'save' on='click' }}>Crear</button>
             {{/if}}
           </div>
          </form>
=======
 						      <button type="submit" class="btn btn-info" {{action 'update' on='click' }}>Actualizar</button>
             {{else}}
                   <button type="submit" class="btn btn-info" {{action 'save' on='click' }}>Crear</button>
             {{/if}}
 					</div>
         </form>
>>>>>>> 49af9b7c584cc98fabfa8d03f8c407819a74e5ac
       </div>
     </div>
   </div>
 </div>
