<div class="starter-template">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 padding-top">
			<div class="form">
				<form>
          <div class="form-group">
						<label>Nombre Usuario:</label>
						{{input class="form-control" name="txt_nombre_usuario" maxlength="60" value=model.nmbre_usro}}
						<div class="error_text">{{validationErrors.nmbre_usro}}</div>
					</div>
					<div class="form-group">
						<label>Usuario:</label>
						{{input class="form-control" name="txt_login" maxlength="25" value=model.lgn}}
						<div class="error_text">{{validationErrors.lgn}}</div>
					</div>
					<div class="form-group">
						<label>Contraseña:</label>
						{{input type="password" class="form-control" name="txt_password" maxlength="40" value=model.password}}
						<div class="error_text">{{validationErrors.password}}</div>
					</div>
					<div class="form-group">
						<label>Foto:</label>
						{{input type="file" class="form-control" name="fl_imagen" id="fl_imagen" value=model.imge_pth}}
						<div class="error_text">{{validationErrors.imge_pth}}</div>
            {{input type="text" name="estado" value=model.estdo}}
					</div>
					<div class="btn-group">
            <div class="alert alert-success" role="alert"  id="success" hidden>This is a success alert—check it out!</div>
            <div class="alert alert-danger" role="alert" id="danger" hidden> This is a danger alert—check it out!</div>
            {{#if model.id}}
                  {{input type="hidden" name="id" value=model.id}}
						      <button type="submit" class="btn btn-info" {{action 'update' on='click' }}>Actualizar</button>
            {{else}}
                  <button type="submit" class="btn btn-info" {{action 'save' on='click' }}>Crear</button>

            {{/if}}
					</div>
				</form>
			</div>
        </div>
    </div>
</div>

</div>
