<header class="login_header">
  <img class="logo_header" src="{{rootURL}}/assets/img/logo_ssi_header.png" alt="logo ssi">
</header>
<div class="containerLogin">
  <form class="login_form" {{action 'cambiarcontrasenainterno' on='submit'}}>
    <h2>Cambiar Tu Contrase単a</h2>
      <div class="form-group">
        {{input type="password" class="form-control" name="txt_clave_temporal" maxlength="60" value=claveActual placeholder="Escribe tu clave actual" autofocus="autofocus"}}
      </div>
      <div class="form-group">
        {{input type="password" class="form-control" name="txt_password" maxlength="40" value=nuevaContrasena placeholder="Nueva Contrase単a"}}
      </div>
      <div class="form-group">
        {{input type="password" class="form-control" name="txt_rpassword" maxlength="40" value=nuevaRcontrasena placeholder="Repetir  Nueva Contrase単a"}}
      </div>
      <div class="btn-group">
        <div class="alert alert-success" role="alert"  id="success" hidden></div>
        <div class="alert alert-danger" role="alert" id="danger" hidden></div>
              <button type="submit" class="button_login">Actualizar</button>
      </div>
    </form>
</div>
<footer class="footer_home">
<img src="{{rootURL}}/assets/img/logo_higia.png" height=30px;  alt="logo higia">
&nbsp;&nbsp;&nbsp;<br>
<cite>HIGIA-SSI速 Todos los derechos reservados </cite>
</footer>
