<header class="login_header">
	<img class="logo_header" src="{{rootURL}}/assets/img/logo_ssi_header.png" alt="logo ssi">
</header>
<div class="containerLogin">
	<form class="login_form" {{action 'authenticate' on='submit'}}>
		<img id="user_photo" class="login_user_photo" src="{{rootURL}}/assets/img/login_user_image.png" alt="user photo">
		<h2>{{labels.INCO_SSN}}</h2>
		<label for="username">{{labels.LGN}}</label>
		{{input name="txt_username" value=username placeholder=labels.INGRSE_LGN class='form-control' focus-out="obtenerImage" autofocus="autofocus"}}
		<label for="password">Contraseña</label>
		{{input value=password placeholder=labels.INGRSE_CNTRSENA class='form-control' type='password'}}
		<div class="blankSpaceTop"></div>
		<button type="submit" class="button_login">{{labels.LGN}}</button>
		<h5>{{#link-to 'recuperarcontrasena' }}
			{{labels.OLVD_CNTRSNNA}}
		{{/link-to}}</h5>
		<div class="alert alert-danger alert-login" role="alert" id="danger" hidden></div>
	</form>
</div>
<footer class="footerlogin">
	<img src="{{rootURL}}/assets/img/logo_higia_negativo.png" width="200"alt="user photo">
</footer>
