
<header class="login_header">
  <img class="logo_header" src="{{rootURL}}/assets/img/logo_ssi_header.png" alt="logo ssi">
</header>
<div class="containerLogin">
<form class="login_form" {{action 'enviarClave' on='submit'}}>
  <h2>Preguntas de Seguridad</h2>
  <p>Responde las siguientes preguntas para validar tu identidad</p>

  <p id="pr0"></p>
    {{input type='password' id='txt_pregunta0' maxlength="20" value=pregunta0 placeholder="Ingresa la respuesta" class='form-control' autofocus="autofocus" focus-out="enable_btn"}}

  <br>
  <p id="pr1"></p>
    {{input type='password' id='txt_pregunta1' maxlength="20" value=pregunta1 placeholder="Ingresa la respuesta" class='form-control' autofocus="autofocus" focus-out="enable_btn"}}
    <br>

    <p id="pr2"></p>
    {{input type='password' id='txt_pregunta2' maxlength="20" value=pregunta2 placeholder="Ingresa la respuesta" class='form-control' autofocus="autofocus" focus-out="enable_btn"}}

     {{input type="hidden" id="txt_idpr0"}}
     {{input type="hidden" id="txt_idpr1"}}
     {{input type="hidden" id="txt_idpr2"}}
     {{input type="hidden" id="token"}}
    <div class="btn-group" style="width:100%;">
      <div class="alert alert-success" role="alert"  id="success" hidden></div>
      <div class="alert alert-danger" role="alert" id="danger" hidden></div>
      <button id="btn_snd_tpm" class="button_login" type="submit">Enviar</button>
    </div>
    <h5>{{#link-to 'login' }}Ir a inicio de Sesión{{/link-to}}</h5>
</form>
</div>
<footer class="footer_home">
<img src="{{rootURL}}/assets/img/logo_higia.png" height=30px;  alt="logo higia">
&nbsp;&nbsp;&nbsp;<br>
<cite>HIGIA-SSI® Todos los derechos reservados </cite>
</footer>
